node_modules
npm-debug.log
.configs/
.scripts/
.vagrant/
Vagrantfile
wp-admin/
wp-includes/
twentyfifteen/
twentysixteen/
twentyseventeen/
!wp-content/mu-plugins/
!wp-content/plugins/
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess