/*===========================================================================================
	HEADER
===========================================================================================*/
.site-header {
	width: 100%;
	overflow: auto;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	background: rgba( 0, 0, 0, 0.7 );
	text-align: center;
	padding: 10px 1em;
	font-size: 0.8em;
	@include bp( 769px ) {
		font-size: 1.25em;
	}
	&.small {
		@include bp( 769px ) {
			font-size: 1em;
		}
		.logo {
			width: 40px;
		}
	}
	a {
		color: $c-white;
		font-weight: 900;
		text-transform: uppercase;
		display: none;
		font-size: 1em;
		@include vendorize( transition, all .15s ease );
		@include bp( 640px ) {
			display: inline-block;
			font-size: 0.8em;
			margin: 0 1em;
		}
		@include bp( 1000px ) {
			margin: 0 5%;
		}
	}
	.phone,
	.search,
	.mobile-menu {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		font-size: 0.8em;
	}
	.mobile-menu {
		margin: 0 1em 0 0;
		@include bp( 640px  ) {
			display: none;
		}
	}
	.mobile-menu:before {
		content: '\f0c9';
		font: 1.8em/1.2 $fa;
		color: $c-white;
	}
	.phone {
		margin: 0 1em 0 0;
		display: none;
		@include bp( 640px ) {
			display: inline-block;
		}
		@include bp( 1200px ) {
			margin: 0 6% 0 0;
		}
	}
	.phone:before {
		content: '\f095';
		font: 1.8em/1.2 $fa;
		color: $c-white;
	}
	.logo {
		display: inline-block;
		width: 60px;
		vertical-align: middle;
		margin: 0 25%;
		@include bp( 640px ) {
			margin: 0 5%;
		}
		@include bp( 769px ) {
			width: 100px;
		}
	}
	.logo img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
		@include vendorize( transition, all .15s ease );
	}
	.search {
		margin: 0 0 0 1em;
		@include bp( 1200px ) {
			margin: 0 0 0 6%;
		}
	}
	.search:before {
		content: '\f002';
		font: 1.8em/1.2 $fa;
		color: $c-white;
	}
}
/*===========================================================================================
	BANNER
===========================================================================================*/
.banner {
	width: 100%;
	overflow: auto;
	.slide {
		width: 100%;
		overflow: auto;
	}
	.slide .mobile {
		display: block;
		@include bp( 640px ) {
			display: none;
		}
	}
	.slide .desktop {
		display: none;
		@include bp( 640px ) {
			display: block;
		}
	}
	.slide img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
/*===========================================================================================
	SPECIALS
===========================================================================================*/
.specials {
	width: 100%;
	overflow: auto;
	background: $c-black;
	color: $c-white;
	padding: 30px 0;
	header {
		text-align: center;
	}
	h2 {
		font-size: 2em;
		@include bp( 769px ) {
			font-size: 3em;
		}
	}
	.items {
		width: 100%;
		overflow: auto;
		padding: 0 5.5%;
	}
	.items .item {
		width: 100%;
		float: left;
		background: $c-white;
		color: $c-black;
		margin: 0 0 0.6em;
		padding: 1em;
		@include bp( 540px ) {
			width: calc( 50% - 0.8em);
			margin: 0 0 0.6em 0.8em;
		}
		@include bp( 769px ) {
			width: calc( 33% - 0.8em);
		}
		@include bp( 1100px ) {
			width: calc( 25% - 0.8em);
		}
		&:first-child {
			@include bp( 540px ) {
				margin: 0 0 0.6em;
			}
		}
		&:nth-child( 2n + 3 ) {
			@include bp( 540px ) {
				margin: 0 0 0.6em;
			}
			@include bp( 769px ) {
				margin: 0 0 0.6em 0.8em;
			}
		}
		&:nth-child( 3n + 4 ) {
			@include bp( 769px ) {
				margin: 0 0 0.6em;
			}
			@include bp( 1100px ) {
				margin: 0 0 0.6em 0.8em;
			}
		}
		&:nth-child( 4n + 5 ) {
			@include bp( 1100px ) {
				margin: 0 0 0.6em;
			}
		}
		.price {
			display: block;
			width: 22%;
			float: right;
			font-size: 1.2em;
			font-weight: bold;
			line-height: 1;
			text-align: right;
			@include bp( 480px ) {
				font-size: 1.6em;
			}
			@include bp( 540px ) {
				float: none;
				width: 100%;
				font-size: 2.2em;
			}
			@include  bp( 769px ) {
				font-size: 2.6em;
			}
		}
		.title {
			font-size: 0.8em;
			line-height: 1.5;
			font-weight: bold;
			width: 78%;
			float: left;
			@include bp( 480px ) {
				font-size: 1em;
			}
			@include bp( 540px ) {
				width: 60%;
				font-size: 1.15em;
			}
			@include bp( 769px ) {
				font-size: 1.3em;
			}
		}
	}
}
/*===========================================================================================
	ABOUT US
===========================================================================================*/
.about-us {
	width: 100%;
	overflow: auto;
	padding: 60px 5.5%;
	h3 {
		font-size: 2.6em;
		color: $c-black;
	}
	p {
		font-size: 1em;
		margin: 0 0 1em;
		color: $c-black;
		font-weight: bold;
	}
	.content {
		width: 100%;
		float: left;
		@include bp( 769px ) {
			width: 60%;
			padding: 0 5% 0 0;
		}
	}
	.image {
		width: 100%;
		float: right;
		margin: 50px 0 0;
		@include bp( 769px ) {
			width: 40%;
			margin: 0;
		}
	}
	.image img {
		width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
		max-width: 545px;
		border: 5px solid $c-white;
		box-shadow: 0px 0px 4px 4px #808080;
		@include vendorize( transform, rotate(5deg) );
	}
	.button {
		display: block;
		margin: 0 auto;
		font-weight: bold;
		padding: 1em 2em;
		@include bp( 769px ) {
			float: right;
		}
	}
}
/*===========================================================================================
	MORE INFORMATION
===========================================================================================*/
.more-information {
	width: 100%;
	overflow: auto;
	background: #BEBDBD;
	color: $c-black;
	padding: 60px 5.5%;
	h3 {
		font-size: 2.6em;
		color: $c-black;
	}
	p {
		font-size: 1em;
		margin: 0 0 1em;
		color: $c-black;
		font-weight: bold;
	}
	.content {
		width: 100%;
		float: left;
		@include bp( 769px ) {
			width: 70%;
			padding: 0 5% 0 0;
		}
	}
	aside {
		width: 100%;
		float: right;
		margin: 50px 0 0;
		@include bp( 769px ) {
			width: 30%;
			margin: 0;
		}
		.accordion-widget {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}
		.item {
			width: 100%;
			margin: 1em 0 0;
			&:first-child {
				margin: 0;
			}
		}
		.item.active {
			header:after {
				content: '-';
			}
			.accordion-content {
				display: block;
				background: $c-white;
				overflow: auto;
				color: $c-black;
				padding: 0.6em;
				border-left: 1px solid $c-black;
				border-right: 1px solid $c-black;
				border-bottom: 1px solid $c-black;
			}
			.button {
				float: right;
				font-weight: bold;
			}
		}
		.item header {
			background: $c-black;
			color: $c-white;
			font-size: 1.4em;
			font-weight: bold;
			padding: 0.6em 1em;
			cursor: pointer;
			@include vendorize( transition, all .15s ease );
			&:after {
				content: '+';
				float: right;
			}
			&:hover {

			}
		}
		.item .accordion-content {
			display: none;
		}
	}
}
/*===========================================================================================
	NEWSLETTER / LINKS
===========================================================================================*/
.newsletter-links {
	width: 100%;
	float: left;
	background: #5A5A5A;
	color: $c-white;
	padding: 1.6em 5.5%;
	.newsletter {
		float: left;
		width: 100%;
		@include bp( 769px ) {
			width: 50%;
			padding: 0 1em 0 0;
		}
		header {
			margin: 0 0 1em;
		}
		section {
			float: left;
			overflow: visible;
		}
		h4 {
			font-size: 2em;
		}
		p {
			font-size: 0.875em;
			font-weight: bold;
		}
	}
	form {
		width: 100%;
		float: left;
	}
	.input {
		float: left;
		width: 100%;
		padding: 1em 0 0;
		@include bp( 769px ) {
			width: 35%;
			padding: 0 0 0 1%;
		}
		&:first-child {
			padding: 0;
		}
	}
	input {
		width: 100%;
		background: $c-white;
		border: none;
		padding: 0.4em;
		&:focus {
			outline: none;
			box-shadow: inset 0 0 2px $c-black;
		}
	}
	.button {
		float: left;
		border: none;
		padding: 0.4em;
		margin: 1em 0 0;
		width: 100%;
		@include bp( 769px ) {
			width: 28%;
			margin: 0 0 0 2%;
		}
	}
	a {
		color: $c-white;
	}
	.links {
		float: right;
		width: 100%;
		padding: 2em 0 0;
		@include bp( 769px ) {
			width: 50%;
			padding: 0 0 0 2em;
		}
	}
	.links nav {
		float: left;
		width: 100%;
		padding: 1em 0 0;
		text-align: center;
		@include bp( 769px ) {
			width: 33%;
			padding: 0 0 0 2%;
			text-align: left;
		}
		&.thin {
			@include bp( 769px ) {
				width: 25%;
			}
		}
		&.social-nav {
			@include bp( 769px ) {
				width: 40%;
			}
		}
	}
	.links h4 {
		font-size: 1.2em;
		text-decoration: underline;
		margin: 0 0 1em;
	}
	.links ul {
		list-style: none outside none;
		margin: 0;
	}
	.links ul li {
		text-align: left;
	}
	.links ul li a {
		font-weight: bold;
		display: block;
		@include bp( 768px, max-width ) {
			text-align: center;
		}
	}
}
/*===========================================================================================
	SOCIAL MEDIA
===========================================================================================*/
.social {
	li {
		display: inline-block;
	}
	li a {
		display: inline-block;
		margin: 0 0 0 5px;
		&:first-child {
			margin: 0;
		}
		&:hover {
			text-decoration: none;
		}
		span {
			@include hidden;
		}
		&:before {
			content: '';
			display: block;
			font: 16px/30px $fa;
			height: 30px;
			width: 30px;
			background: $c-white;
			color: #5A5A5A;
			text-align: center;
			transform-origin: center;
			@include vendorize( transition, all .15s ease );
			-moz-osx-font-smoothing: grayscale;
		}
		&:hover:before {
			@include vendorize( transform, scale( 1.1, 1.1 ) );
		}
		&.facebook,
		&.addthis_button_facebook {
			&:before {
				content: '\f09a';
			}
			&:hover:before {
				background: $c-facebook-blue;
				color: $c-white;
			}
		}
		&.twitter,
		&.addthis_button_twitter {
			&:before {
				content: '\f099';
			}
			&:hover:before {
				background: $c-twitter-blue;
				color: $c-white;
			}
		}
		&.youtube {
			&:before {
				content: '\f167';
			}
			&:hover:before {
				background: $c-youtube-red;
				color: $c-white;
			}
		}
		&.google-plus,
		&.addthis_button_google_plusone_share {
			&:before {
				content: '\f0d5';
			}
			&:hover:before {
				background: $c-google-plus;
				color: $c-white;
			}
		}
		&.linkedin,
		&.addthis_button_linkedin {
			&:before {
				content: '\f0e1';
			}
			&:hover:before {
				background: $c-linkedin;
				color: $c-white;
			}
		}
		&.instagram {
			&:before {
				content: '\f16d';
			}
			&:hover:before {
				background: $c-instagram;
				color: $c-white;
			}
		}
		&.pinterest {
			&:before {
				content: '\f231';
			}
			&:hover:before {
				background: $c-pinterest;
				color: $c-white;
			}
		}
		&.vimeo{
			&:before {
				content: '\f27d';
			}
			&:hover:before {
				background: $c-vimeo;
				color: $c-white;
			}
		}
	}
}
/*===========================================================================================
	FOOTER
===========================================================================================*/
.site-footer {
	width: 100%;
	overflow: auto;
	background: $c-black;
	color: $c-white;
	text-align: center;
	font-size: 12px;
	padding: 1em 0;
	.logo {
		display: inline-block;
		width: 74px;
	}
	.logo img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	ul {
		list-style: none outside none;
	}
	ul li {
		display: inline;
		margin: 0 2px;
	}
	p {

	}
	a {
		color: $c-white;
	}
}




.testClass {
	display: block;
}
@media (min-width: 769px) {
	.testClass{
		display: none;
	}
	
}