/*===========================================================================================
	SCHEME 1
===========================================================================================*/
.scheme-1 {
	background: $color1;
	color: $color5;
	a {
		color: $color5;
	}
}
.scheme-2 {
	background: $color2;
	color: $color4;
	a {
		color: $color4;
	}
}
.scheme-3 {
	background: $color3;
	color: $color1;
	a {
		color: $color1;
	}
}
.scheme-4 {
	background: $color4;
	color: $color2;
	a {
		color: $color2;
	}
}
.scheme-5 {
	background: $color5;
	color: $color1;
	a {
		color: $color1;
	}
}